* {
    box-sizing: border-box;
}

.block {
    width: 300px;
    height: 462px;
    border: 1px solid #e8e8e8;
    text-align: center;
}
.tariff {
    font-size: 16px;
    font-weight: bold;
    margin-top: 61px;
    margin-bottom: 36px;
    color: #212121;
}

.price {
    color: #5ba2a9;
    display: inline-block;
    font-size: 46px;
}

.rubles {
    color: #5ba2a9;
    font-size: 18px;
}

.adventages {
    margin-top: 50px;
    color: #212121;
}



.buy {
    width: 200px;
    height: 54px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #e8e8e8;
    margin-left: 49px;
    margin-top: 47px;
    color: #212121;
}


